@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

@media only screen and (max-width: 800px) {
   
}

html {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    background-color: #F8F4FA;
}

body {
    position: relative;
    display: inline-block;
    font-family: 'Source Serif Pro', serif;
  }

  h1 {
    padding: 0;
    margin: 0;
    float:left;
    width: 100px;
    color: #ffffff;
    padding-top: 10px;
    padding-left: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 600px;
    float:right;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #3C0556;
}

header {
    background-image: url(https://dam.cocinafacil.com.mx/wp-content/uploads/2020/08/bebidas-con-alcohol.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #3C0556;
    text-align: center;
    font-size: 4rem;
    overflow: hidden;
    height: 500px;
    padding-top: 100px;
}

header p{
    margin: 0;
  }

#nav-bar{
    overflow: hidden;
    background-color: #3C0556;
}
.button {
    text-decoration:none;
    font-weight:600;
    font-size:20px;
    color:#ffffff;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:40px;
    padding-right:40px;
    background-color:#3C0556;
}

.title {
    text-align: center;
}

#location { 
    text-align: center;
    overflow: hidden;
} 

#footer {
    background-color: #3C0556;
    color:#ffffff;
    text-align: center;
}
#link {
    color: #ffffff;
    text-decoration: none;
}
#contact {
    text-align: justify;
    border: 2px solid #3C0556;
}

#submit  {
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right:5px;
    margin-left: 200px;
    margin-bottom: 20px;
    color:#ffffff;
    background-color:#3C0556;
}
.specialties {
    width: 100%;
    /*border: 2px solid #3C0556;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

figcaption {
    max-width: 300px;
    /*border: 2px solid black;*/
}

